services:
  postgres:
    image: postgres:15.10
    container_name: intmax2-withdrawal-aggregator-postgres
    hostname: postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=maindb
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7.4.2
    container_name: intmax2-withdrawal-aggregator-redis
    hostname: redis
    restart: unless-stopped
    ports:
      - 6379:6379
    volumes:
      - redisdata:/data
    command: redis-server --appendonly yes

volumes:
  pgdata:
  redisdata:
