name: CI

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]
    paths-ignore:
      - '**.md'

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 24.5.0

    - name: Enable Corepack
      run: corepack enable

    - name: Set Yarn version
      run: corepack prepare yarn@4.9.2 --activate

    - name: Get yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT

    - uses: actions/cache@v4
      id: yarn-cache
      with:
        path: |
          ${{ steps.yarn-cache-dir-path.outputs.dir }}
          **/node_modules
          packages/*/node_modules
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-

    - name: Install dependencies
      run: yarn install --immutable

    - name: Check formatting
      run: yarn check

    - name: Build shared packages
      run: yarn build:shared

    - name: Unit tests with coverage
      run: yarn test --coverage

    - name: Build
      run: yarn build

    - name: Check for security vulnerabilities
      run: yarn npm audit